@font-face {
  font-family: "BianZhiDai-base";
  src: local("BianZhiDai-base"), url(../assets/fonts/BianZhiDai-base.woff);
}

@font-face {
  font-family: "BianZhiDai-comic";
  src: local("BianZhiDai-comic"), url(../assets/fonts/BianZhiDai-comic.woff);
}

@font-face {
  font-family: "Karrik-Regular";
  src: local("Karrik-Regular"), url(../assets/fonts/Karrik-Regular.woff);
}

h1 {
  font-family: "BianZhiDai-comic";
}

h2 {
  font-family: "BianZhiDai-comic";
}

a {
  color: #551a8b;
  font-family: "BianZhiDai-comic";
}

a:hover {
  color: pink;
}

button {
  font-family: BianZhiDai-base;
}

p {
  font-family: "Karrik-Regular";
}
