header {
  display: flex;
  width: 100vw;
}

header h1 {
  margin-left: 30px;
}

@media (max-width: 1100px) {
  header {
    display: block;
  }
  header h1 {
    font-size: 30px;
    line-height: 1;
    margin-left: 0px;
    text-align: center;
  }
}
