header {
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
}

header h1 {
}

@media (max-width: 1100px) {
  header {
    display: block;
  }
  header h1 {
    font-size: 30px;
    line-height: 1;
    margin-left: 0px;
    text-align: center;
  }

  header nav {
    display: none;
  }
}
