body {
  margin: 0 0;
  padding: 0 0;
}

.home__container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  overflow-x: hidden;
  max-width: 100vw;
}

.home__search-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.home__search-container h1 {
  display: none;
  text-align: center;
  font-size: 50px;
}

.home__search-bar {
  width: 40vw;
  margin: auto;
  text-align: center;
}

.home__search-bar input {
  width: 100%;
  font-size: 2em;
  border: none;
  border-bottom: 2px solid pink;
}

.home__hero-image {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 0;
  background-image: url("https://api.collectie.gent/iiif/image/iiif/2/dc2342fbcfab11bafa6a3307edeca6ca-transcode-4605$1.jpg/695,703,3004,1551/full/0/default.jpg");
}

.home__hero-image div {
  position: relative;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);

  max-width: 80vw;
}

.home__hero-image div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: pink;
  --webkit-font-stroke: 2px black;
  font-size: 4vw;
}

.home__hero-image div h1 a {
  color: pink;
  text-decoration: underline;
}
.home__hero-image div h1 a:hover {
  color: pink;
}

.home__incentives {
  display: none;
}

.home__incentives-container {
  display: flex;
  justify-content: center;
  max-width: 60vw;
  min-height: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.home__incentives-box {
  display: flex;
  height: 20vh;
  width: 20%;
  margin: 30px;
  border: pink 2px solid;
  background: pink;
  justify-content: space-evenly;
}

input:focus {
  outline: none;
}

input {
  font-family: "BianZhiDai-comic", sans-serif;
}

@media (max-width: 750px) {
  .home__search-bar input::placeholder {
    font-size: 2vh;
    text-align: center;
  }

  .home__search-bar {
    width: 90vw;
    margin: auto;
    text-align: center;
  }

  .home__hero-image div h1 {
    font-size: 5vw;
  }
}
