body {
  margin: 0 0;
  padding: 0 0;
}

.home__container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  overflow-x: hidden;
  max-width: 100vw;
}

.home__search-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  transform: translateY(-10%);
}

.home__search-container h1 {
  display: none;
  text-align: center;
  font-size: 50px;
}

.home__search-bar {
  width: 40vw;
  margin: auto;
  text-align: center;
}

.home__search-bar input {
  width: 100%;
  font-size: 2em;
  border: none;
  border-bottom: 2px solid pink;
}

.home__hero-image {
  position: relative;
  min-height: 100vh;
  background-image: url("https://api.collectie.gent/iiif/image/iiif/2/81077590d0c8ede9ecbeb5e7f824b976-transcode-4574$1.jpg/747,1539,1574,1686/full/0/default.jpg");
  /*background-image: url("https://api.collectie.gent/iiif/image/iiif/2/dc2342fbcfab11bafa6a3307edeca6ca-transcode-4605$1.jpg/695,703,3004,1551/full/0/default.jpg");*/
}

.home__hero-image .container {
  position: absolute;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__hero-image .container h1 {
  display: flex;
  text-align: center;
  color: pink;
  -webkit-text-stroke: 0.05px black;
  font-size: 3vw;
}

.home__hero-image .container .link-box {
  background-color: #ffc0cbcf;
  border: 2px black solid;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  max-width: 40%;
}

.home__hero-image .container .link-box a {
  margin: 0 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
}
.home__hero-image a:hover {
  color: pink;
}

.home__incentives {
  display: none;
}

.home__incentives-container {
  display: flex;
  justify-content: center;
  max-width: 60vw;
  min-height: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.home__incentives-box {
  display: flex;
  height: 20vh;
  width: 20%;
  margin: 30px;
  border: pink 2px solid;
  background: pink;
  justify-content: space-evenly;
}

input:focus {
  outline: none;
}

input {
  font-family: "BianZhiDai-comic", sans-serif;
}

@media (max-width: 750px) {
  .home__search-bar input::placeholder {
    font-size: 2vh;
    text-align: center;
  }

  .home__search-bar {
    width: 90vw;
    margin: auto;
    text-align: center;
  }

  .home__hero-image .container h1 {
    font-size: 5vw;
  }
}

@media (max-width: 500px) {
  .home__hero-image .container .link-box a {
    margin: 0 10px;
  }
}
